body {
	margin: 0;
	letter-spacing: 0.08rem;
	color: #333;
	background-color: #f4f4f4;
	font-family: monospace, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
